/* https://colorhunt.co/palette/159988 */
/* https://colorhunt.co/palette/161649 */



*{
    color:white;
    font-family: 'Dosis', sans-serif;
    box-sizing: border-box;

}

h1,h2,h3,h4{
    padding:0;
    margin:0;
}

:root{
    --var-dark:#380e7f;
    --var-less-dark:#6915cf;
    --var-font:#d62196;
    --var-links:#e497cd;


}


body{
    margin:0;
}

a{
    text-decoration: none;
    color:inherit;
}

.NavBar{
    display:flex;
    position:fixed;
    bottom:0;
    left:0;
    width:100%;
    background:var(--var-dark);
    color:white;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height:10vh;
}

.NavBar > *:hover {
    transform:scale(1.1);
    cursor:pointer;
}

.All{
    width:100vw;
    text-align:center;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom:10vh;
    background:var(--var-less-dark);
    width:100vw;
}

.All_Header{
    border:var(--var-links) 1px solid;
    width:100%;
    position:fixed;
    top:0;
    height:12vh;
    background:var(--var-dark);
}

.Container{
    width:100%;
    display:flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin-top:12vh;
}

.Container > *{
    height:auto;
    height:85vh;
    width:400px;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.Container__Element__Title{
    border-top:#d62196 4px solid;
    border-left:#d62196 4px solid;
    align-self: flex-start;
    width:100px;
}



.Container__Element__Resume{
    color:var(--var-links);
    height:10%;
    display:flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
}

.Container__Element__Image{
    height:200px;
    width:200px;
    max-width:100%;
    max-height:100%;
}

.Container__Element__Stacks{

    height:100px;
    width:100%;
    display:flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    border:#d62196 2px solid;
    border-radius: 12px;
    overflow: scroll;
}

.Container__Element__Stacks > * {
    display:flex;
    width:80px;
    height:50px;
    justify-content: space-evenly;
    align-items: center;
}

.Container__Element__Stacks > *:hover{
 cursor:pointer;
 transform:scale(1.2);
}

table {
    text-align:center;
    width:100%;
}


/* .Container__Border__Bottom__Container{
    display:flex;
    justify-content: flex-end;
    align-content: flex-end;
    border:1px white solid;
} */

.Container__Border__Bottom{
    height:5vw;
    width:50vw;
    /* border-right:#d62196 4px solid; */
    /* align-self: flex-end; */
}


.active{
    transform:rotate(90deg);
}